<!DOCTYPE html>
<html lang="it">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Aggiungi punto ristoro</title>
  </head>
    <form action="/">
      <button type="submit" id="backBtn"> Back</button> 
  </form>
   <h1>
    Aggiungi un nuovo punto ristoro
  </h1>
<body style="background-color:#0066ff">
  <!--tutti i campi-->
  <div class="add">
    <p id="addTitle">Inserisci i dati:</p>
    <form action="https://punti-di-ristoro-e-divertimento-nelle-marche.glitch.me/nuovo_ristorante" method="POST" class="addPlace" id="add">
      <input class="input" type="txt" id="denominazionee" name="Denominazione" placeholder="Denominazione" required> <br>
      <input class="input" type="txt" id="comunee" name="Comune" placeholder="Comune" required> <br>
      <input class="input" type="txt" id="indirizzoo" name="Indirizzo" placeholder="Indirizzo"> <br>
      <input class="input" type="txt" id="civicoo" name="Civico" placeholder="Civico"> <br>
      <input class="input" type="txt" id="telefonoo" name="Telefono" placeholder="Telefono"> <br>
      <input class="input" type="txt" id="emaill" name="Email" placeholder="Email"> <br>
      <input class="input" type="txt" id="latitudinee" name="Latitudine" placeholder="Latitudine"> <br>
      <input class="input" type="txt" id="longitudinee" name="Longitudine" placeholder="Longitudine"> <br><br>
      <button id="btn" class="btn">Aggiungi</button>
    </form>
  </div>
</body>
</html>